@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #194e84;
  font-size: 14px;
  font-weight: 600;
}

h1 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 8px;
}

button[type="submit"] {
  @apply hover:brightness-110 active:brightness-150;
}

.selectBox .css-1fdsijx-ValueContainer {
  padding: 0 8px;
}

.selectBox .css-qbdosj-Input {
  padding: 0;
  margin: 0;
}
